extends layout

block content
  h1 Enter Your Words
  form(method ="POST" action="/story" id="words")
    label(for="person1") Person:
    input(type="text" name="person1" id="person1" value="Fernando")
    br
    label(for="number1") Number:
    input(type="text" name="number1" id="number1" value="25")
    br
    label(for="adjective1") Adjective:
    input(type="text" name="adjective1" id="adjective1" value="angry")
    br
    label(for="color1") Color:
    input(type="text" name="color1" id="color1" value="blue")
    br
    label(for="noun1") Noun:
    input(type="text" name="noun1" id="noun1" value="soccerball")
    br
    label(for="food1") Food:
    input(type="text" name="food1" id="food1" value="tacos")
    br
    label(for="noun2") Noun:
    input(type="text" name="noun2" id="noun2" value="McDonalds")
    br
    label(for="verb1") Verb ending in "ing":
    input(type="text" name="verb1" id="verb1" value="running")
    br
    label(for="clothing1") Article of clothing:
    input(type="text" name="clothing1" id="clothing1" value="sweater")
    br
    label(for="adjective2") Adjective:
    input(type="text" name="adjective2" id="adjective2" value="angsty")
    br
    label(for="famousperson1") Famous person:
    input(type="text" name="famousperson1" id="famousperson1" value="Ed Sheran")
    br
    label(for="number2") Number:
    input(type="text" name="number2" id="number2" value="5")
    br
    label(for="person2") Person:
    input(type="text" name="person2" id="person2" value="John")
    br
    label(for="noun3") Noun:
    input(type="text" name="noun3" id="noun3" value="dog")
    br
    label(for="person3") Person:
    input(type="text" name="person3" id="person3" value="Jane")
    br
    label(for="occupation1") Job Occupation:
    input(type="text" name="occupation1" id="occupation1" value="buisness man")
    br
    label(for="storyChoice") Choose One
    select(form="words" name="storyChoice" id="storyChoice")
      option(value = "1") Story 1
      option(value = "2") Story 2
      option(value = "3") Story 3
    br
    button(type="submit" form="words") Tell Me a Story
